/* Style général */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    width: 350px;
    margin: 60px auto;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    background-color: white;
}

/* Titre */
h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Champs de saisie */
input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    font-size: 16px;
}

/* Bouton */
button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #75c21e;
    color: rgb(237, 233, 233);
    border: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #a5d643;
}

/* Message d'erreur */
#error {
    color: red;
    margin-top: 10px;
    font-weight: bold;
}

/* Résultats */
#resultats {
    margin-top: 15px;
    text-align: left;
}

#resultats p {
    margin: 5px 0;
    font-weight: bold;
}
